*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container{
    background: white;
    height: 100vh;
    width: 100%;
    position: relative;
}

.container {
    background-image: linear-gradient(to right,
    rgba(200, 180, 255, 0.6), 
    rgba(200, 180, 255, 0.4) ),
        url(pictures/image.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tabs{
    margin: auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs ul{
    margin: 10px 20px;
    display: flex;
    list-style: none;
    padding: 0;
}

.tabs li{
    margin-right: 20px;
}

.tabs a{
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
}


.tabs a:hover{
    color: rebeccapurple;
}

.detail{
    margin-left: 8px;
    margin-top: 15px;
}

.detail h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: rebeccapurple;
}

.detail p{
    color: rgb(103, 100, 100);
    line-height: 22px;
    font-weight: 500;
}

.detail a{
    background: rgb(14 14 14);
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.detail a:hover{
    color: rebeccapurple;
    background-color: white;
}

.pictures{
    width: 45%;
    height: 80%;
    right: 100px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.pictures img{
    height: 100%;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.pictures:hover .shape{
    bottom: 40px;
    transition: bottom 0.5s;
}

.pictures:hover .profile {
    left: 45%;
    transition: left 0.5s;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    margin-bottom: 5rem;
}

.skills-container h2{
    margin: 0 auto 2rem;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.skills-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    max-width: 800px;
}


.skill-item span i{
    font-size: 2.5rem;
    color: rebeccapurple;
    margin-right: 20px;
}
.skill-item h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.skill-item p{
  color: rgb(103,100,100);
  font-weight: 500;
  line-height: 1.5;
}

.skill-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}


.project-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.project-header span{
    color: rebeccapurple;
}

.project-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.project-card{
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card p{
    margin-bottom: 1rem;
}

.project-card img {
     max-width: 30%;
     width: auto;
     border-radius: 10px;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact .contact-content{
    max-width: 800px;
    text-align: center;
}

.contact .contact-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: rebeccapurple;
    margin-bottom: 15px;
}

.contact .contact-content  {
    font-weight: 300;
}

.contact-container{
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-container .contact-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-container .contact-info  .box{
    display: flex;
    padding: 20px 0;
    position: relative;
}

.contact-container .contact-info .box .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    min-width: 60px;
    height: 60px;
    background: rgb(200, 180, 255);
    border-radius: 50%;
}

.contact-container .contact-info .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.contact-container .contact-info .box .text h3 {
    font-weight: 500;
    color: rgb(103, 100, 100);
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: white;
}

.contact-form h2{
    font-size: 30px;
    font-weight: 500;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contact-form .input-box span{
    padding: 5px 0;
    margin: 10px 0;
    position: absolute;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: #666;
    transition: 0.15s;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
    background: black;
    color: white;
    width: 100px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}

@media (max-width) {
    .contact{
        padding:  50px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-container .contact-info contact-form {
        width: 100%;
    }
}

.socials{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin-top: -30px;
    margin-bottom: 0;
}

.wrapper {
    display: inline-flex;
    margin-bottom: 30px;
}

.wrapper .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 20px;
    text-align: center;
    z-index: 2;
    transition: 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icons .tooltip{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    padding: 10px 18px;
    z-index: 1;
    border-radius: 25px;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s cubic-bezier(0.68, -.55, 0.265, 1.55);
    top: 0;
}

.wrapper .icons:hover .tooltip{
    pointer-events: auto;
    top: -70px;
    opacity: 1;
}

.icons .tooltip::before {
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    bottom: -6px;
    left: 50%;
    transition: 0.15s cubic-bezier(0.68, -.55, 0.265, 1.55);
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icons:hover span{
    color: white;
}

.wrapper .icons:hover span,
.wrapper .icons:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background: rgb(59,89,152);
    color: white;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
    background: rgb(0,172,238);
    color: white;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
    background: rgb(225,48,108);
    color: white;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
    background: rgb(0,0,0);
    color: white;
}

.wrapper .discord:hover span,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip:before {
    background: rgb(114,137,218);
    color: white;
}

.footer-bar-content p {
    font-size: 0.8rem;
    color: black;
}